<h1>Create New Product</h1>

<form action="/electronic" method="POST">
    <input type="text" name="name" placeholder="Enter Electronic"/>
    <input type="text" name="type" placeholder="Enter Type"/>

    <input type="submit" value="Create"/>
</form>