<h1>Add Item In Stock</h1>

<form action="/inStock" method="POST">
    <input type="text" name="name" placeholder="name" value="{{singleInStockProduct.name}}" />
    <input type="text" name="version" placeholder="version" value="{{singleInStock.version}}" />
    <input type="text" name="model" placeholder="model" value="{{singleInStock.model}}" />
    <input type="hidden" name="inStockId" placeholder="model" value="{{inStockId}}" />



    <input type="submit" value="Create" />
</form>