<h1>Edit Product</h1>

<form action="/product/{{singleProduct._id}}?_method=PUT" method="POST">
    <input type="text" name="name" placeholder="name" value="{{singleProduct.name}}"/>
    <input type="text" name="version" placeholder="version" value="{{singleProduct.version}}"/>
    <input type="text" name="model" placeholder="model" value="{{singleProduct.model}}"/>
    

    <input type="submit" value="Save"/>
</form>